<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
<add name="conString" connectionString="Persist Security Info=False;User ID=ams;pwd=TgdRKAGedt%h;Initial Catalog=tenders_db;Data Source=185.142.34.92; charset=utf8;"/>
	  <!--<add name="conString" connectionString="Persist Security Info=False;User ID=root;pwd=;Initial Catalog=testing_db;Data Source=localhost; charset=utf8;"/>-->
	  
  </connectionStrings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8"/>
  </startup>
</configuration>
